SysLog.Api/obj/Debug/net9.0/SysLog.Api.AssemblyInfo.cs
SysLog.Api/obj/Debug/net9.0/SysLog.Api.AssemblyInfoInputs.cache
SysLog.Api/obj/Debug/net9.0/SysLog.Api.csproj.AssemblyReference.cache
SysLog.Application/obj/Debug/net9.0/SysLog.Application.AssemblyInfo.cs
SysLog.Application/obj/Debug/net9.0/SysLog.Application.AssemblyInfoInputs.cache
SysLog.Application/obj/Debug/net9.0/SysLog.Application.csproj.AssemblyReference.cache
SysLog.Application/obj/Debug/net9.0/SysLog.Application.csproj.CoreCompileInputs.cache
SysLog.Application/obj/Debug/net9.0/SysLog.Application.sourcelink.json
SysLog.Client/obj/Debug/net9.0/SysLog.Client.AssemblyInfo.cs
SysLog.Client/obj/Debug/net9.0/SysLog.Client.AssemblyInfoInputs.cache
SysLog.Client/obj/Debug/net9.0/SysLog.Client.csproj.CoreCompileInputs.cache
SysLog.Client/obj/Debug/net9.0/SysLog.Client.sourcelink.json
SysLog.Domain/bin/Debug/net9.0/SysLog.Domain.dll
SysLog.Domain/bin/Debug/net9.0/SysLog.Domain.pdb
SysLog.Domain/obj/Debug/net9.0/SysLog.Domain.AssemblyInfo.cs
SysLog.Domain/obj/Debug/net9.0/SysLog.Domain.AssemblyInfoInputs.cache
SysLog.Domain/obj/Debug/net9.0/SysLog.Domain.csproj.CoreCompileInputs.cache
SysLog.Domain/obj/Debug/net9.0/SysLog.Domain.dll
SysLog.Domain/obj/Debug/net9.0/SysLog.Domain.pdb
SysLog.Domain/obj/Debug/net9.0/SysLog.Domain.sourcelink.json
SysLog.Domain/obj/Debug/net9.0/ref/SysLog.Domain.dll
SysLog.Domain/obj/Debug/net9.0/refint/SysLog.Domain.dll
SysLog.Infraestructure/obj/Debug/net9.0/SysLog.Infraestructure.AssemblyInfo.cs
SysLog.Infraestructure/obj/Debug/net9.0/SysLog.Infraestructure.AssemblyInfoInputs.cache
